@import 'kfilim';
@import 'film';
@import 'kolleksiyalar';
@import 'filimebaxmaq';
@import 'Isturuksiya';

.navbar {
    background-color:#232e42;
        height: 75px;
   
    width: 90%;
    
.btn{
    //    background-color: #d06070;
    // font-size: 9px;
     margin-right: 8px;
    // height: 30px;
    // width: 73px;
    // margin-top: 5px;
     border-radius: 0;
    overflow: visible;
    -webkit-appearance: button;
    cursor: pointer;
    text-decoration: none;
    border: none;
    outline: none;
    padding-right: 82px;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    display: block;
    padding: 0 7px;
    height: 30px;
    background: #d06070;
    line-height: 30px;
    
}

.navbar-nav{
     
    font-size: 14px;
    margin-left: 38px;
}

.dropdown-toggle{
    color: #fff;
}
}
.azer{
    color: #fff;
}

body {
    font-family: Verdana, Verdana, Geneva, sans-serif;
    background: #32425c;
    min-height: 100%;
    height: auto;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.img{
  width: 70px;
  height: 55px;
}

#email{
    width: 292px;
}



.sayt{
         font-size: 12px;
    height: 21px;
    width: 128px;
    margin-top: 10px;
    margin-right: 25px;
    margin-left: 0;
}

nav{
       background: #232e42;
    height: 59px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    width: 1050px;
  
}
  


 .dropdsds-menui 
{
    position: absolute;
    top: 20px;
    left: -58%;
    z-index: 1000;
    float: left;
    width: 248px;
    padding: 5px;
    font-size: 14px;
    text-align: left;
    background-color: #232e42;
    list-style: none;
    border: 1px solid #fff;
    list-style-type: none;
    a{
        margin-left: 105px;
        color: #fff;
    }

    label{
        color: #fff;
    }
    li
    { 
     color: #000;
    line-height: 30px;
    display: inline-block;}

   .prof_button
    {
    height: 30px;
    width: 193px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: #ed6071;
    padding: 10px 0;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
    
    }
    
    

 }


 #demo{
       position: absolute;
    width: 100%;
    top: 65px;
    border: 1px solid #fff;
    padding: 19px;
    background: #232e42;
    z-index: 999;

    input{
    width: 100%;
    margin-bottom: 15px;
    padding: 7px 6px 10px;
    height: 100%;
    border-radius: 3px;
    }
 }



section{
      height: 100%;
    margin-right: auto;
    margin-left: auto;
    width: 923px;

    }



.sekiller{

     display: inline-block;
         margin: 40px 0px 30px 20px;
    background: #232e42 ;
    text-align: center;

    li{
list-style-type:none;
            float: left;
    margin-top: 4px;
    margin-right: 11px;
    width: 125px;
    }

  
    .poster-main1{
       position:relative;
    }
    a{
     text-decoration: none;
     border: none;
     outline: 0;
    }
    #img{
    height: 155px;
   width: 107px;
    text-align: center;
    border: 4px #232e42 solid;
  }
  h3{
        font-size: 12px;
    width: 100%;
    color: #fff;
    font-family: Arial;
  }
}



.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #292b2c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.foot-main{
    
     text-align: center; 
     width: 100%;
}